<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — Nathaniel's Occult Blog</title>
<body>
    <div align="center" style="font-size:35px;font-weight:bold;">Nathaniel's Occult Blog</div>
    <table>
        <tbody>
            <td width="100" class="sidebar">
                <img src="{{ '/static/flyingsaucer.gif'|url }}">
                <p>The Occult is HERE!</p>
                <hr width="50%">
                <p>
                  <header>
                    <table border="2" width="100%">
                        <strong>Contents:</strong>
                            <tbody class="nav navbar-nav">

                                {% for href, title in [
                                  ['/', 'Main'],
                                  ['/occult', 'Occult'],
                                  ['/notes', 'Notes'],
                                  ['/films', 'Films'],
                                  ['/links', 'Links'],
                                  ['/james', 'RIP James'],
                                  ['/about', 'About']
                                ] %}
                                <tr class="contents_option">
                                  <td{% if this.is_child_of(href) %} class="active"{% endif %}>
                                      <a href="{{ href|url }}">{{ title }}</a>
                                  </td>
                                </tr>
                                {% endfor %}

                        </tbody>
                    </table>
                  </header>
                </p>
            </td>
            <td width="10"></td>
            <td width="1" bgcolor="white"></td>
            <td width="14"></td>
            <td width="472">
                <div class="page">
                    {% block body %}{% endblock %}
                </div>
                <p>Return to <a href="#top">top</a> of page.</p>
                <hr width="50%">
                <p>(c) 2004-2007 Nathaniel Blackburn</p>
            </td>
        </tbody>
    </table>

    <audio controls autoplay>
        <source src="{{'/static/engel.mp3'|url}}"|url type="audio/mp3">
    </audio>

</body>
